
body {
    --color1: #ffffff;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #ffffff;
    --color5: #ffffff;

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

#pizzaTitle {
font-family: 'Abel', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Oswald', sans-serif;
font-size: 36px;
text-align: left;
}

#date, #print, #bio,  {
    font-family: 'Abel', sans-serif;
    color: grey;
}

#shareButton {
    font-family: 'Abel', sans-serif;
    color: white;
    font-weight: bold;
    background-color: #BC7058;
    margin: 40px;
    width: 140px;
    height: 40px;
    font-weight: normal;
    border: #ffffff00;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#pizzaImage {
   width: auto;
   align-items: center;
}

#mainText {
    font-family: 'Peddana', serif;  
    font-size: 23px;
    color: grey;
    line-height: 24px;
    justify-content: space-evenly;
    text-align: justify;
    text-justify: inter-word;

}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
#chopped { 
    text-indent: 30px;
    }
#listDiv {
    background-image: url("../assets/list-bg.png");;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-column-align: center;
    padding: 40px;
    }
input[type=checkbox]:checked + label {
        text-decoration: line-through;
        font-family: 'Patrick Hand', cursive;
        font-size: 24px;
        color: grey;
        text-align: left;
}
.list-1 {
list-style-type: square;
margin: 30px;
font-family: 'Patrick Hand', cursive;
font-size: 23px;
color: grey;
text-align: left;

}
.list-2 {
    margin: 30px;
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    color: grey;
    text-align: left;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

/* header img { */
    /* height: var(--header-height); */
/* } */ */




content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
#Vanessa {
    font-family: 'Peddana', serif;  
    font-size: 28px;
    color: grey;
}

/footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }
